/* *, *:before, *:after {
    box-sizing: border-box;
} */

body {
    color: black;
    background-image: url("../assets/background.jpeg");
    background-attachment: fixed;
    font-family: Sans-serif, Tahoma;
}

#title {
    /* padding: 1rem 0 0 0; */
    margin: auto;
    padding: 3rem 0 0 0;
    text-align: center;
}

input, textarea {
    background-color: #ffffff;
    margin: .5rem .5rem;
    padding: .5rem .5rem;
}

#concerts-form {
    background: rgba(199, 199, 199, 0.5);
    border: .25rem solid black;
    /* margin: auto;
    padding: 2rem 2rem; */
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    box-shadow: 1rem 1rem 1rem black;
}

#concerts-container {
    margin: 1rem auto;
    width: 50%;
}

.concert-container {
    display: grid;
    justify-content: center;
    background: rgba(199, 199, 199, 0.80);
    border: .25rem solid black;
    padding: 1rem 1rem;
    margin: 2rem;
    box-shadow: 1rem 1rem 1rem black;
}

.comments-container {
    /* display: inline-block; */
    margin: 1rem;
    padding: 1rem;
}