@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    color: black;
    background-image: url("../assets/background.jpeg");
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

#title {
    margin: auto;
    padding: 3rem 0 0 0;
    text-align: center;
}

input, textarea {
    background-color: #ffffff;
    margin: .5rem .5rem;
    padding: .5rem .5rem;
}