@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    color: black;
    background-image: url("../assets/background.jpeg");
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

#title {
    margin: auto;
    padding: 3rem 0 0 0;
    text-align: center;
}

input, textarea {
    background-color: #ffffff;
    margin: .5rem .5rem;
    padding: .5rem .5rem;
}

#concerts-form {
    background: rgba(199, 199, 199, 0.5);
    margin: 2rem auto;
    padding: 1rem 1rem .5rem 1rem;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

#user-input {
    width: 10rem;
}

#artist-input {
    width: 15rem;
}

#venue-input {
    width: 18rem;
}

#date-input {
    width: 12rem;
}

#attendees-input {
    width: 18rem;
    max-width: 100%;
}

#highlights-input {
    width: 30rem;
}

#lowlights-input {
    width: 30rem;
}

#add-concert-btn {
    margin: auto;
    padding: 1rem;
}

#concerts-container {
    margin: 1rem auto;
    width: 50%;
}

.concert-container {
    justify-content: center;
    background: rgba(199, 199, 199, 0.80);
    padding: 1rem 1rem;
    margin: 2rem;
}

.comments-container {
    margin: 0;
    padding: .5rem;
}

.comment-container {
    border: 1px solid gray;
    padding: .5rem 0 0 .5rem;
    margin: .5rem;
    background: rgba(199, 199, 199, 1);
    width: 75%;
}

form.comment-form {
    padding: 1rem;
    margin: 0;
}

input.comment-user {
    width: 12rem;
}

textarea.comment-content {
    width: 80%;
    padding: 1rem;
}

.concert-info {
    display: inline-block;
    padding: .5rem 1rem .5rem 1rem;
    margin: .5rem;
}

.delete-btn {
    float:inline-end;
    margin: 0 0 0 2rem;
}

p.comment-user {
    font-weight: bold;
    font-size: 1rem;
}

p.comment-content {
    /* padding: 0 0 0 2rem; */
    font-size: .75rem;
}

